<!DOCTYPE html>

<style type="text/css">
      
    th:tr{
        color: blue;
  
    }
    tr:nth-of-type(2n){
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);
  
    }
  
    td{
        padding: 8px 8px;
        border: 1px solid black;
    }
</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body style="background-color: bisque;">
    <div class="container-xl mt-2" style="background-color: whitesmoke;">
        <table class="table d-flex justify-content-center pt-2">
                <tr>
                    <th scope="col">Kết quả chấm bài</th>
                </tr>

			<img src="{{url_for('static', filename='tracnghiem.png')}}" alt="User Image">
			<table style="margin-left: 20px;">
				<th>
					<tr style="color: green; ">    
					<td>Chọn</td>
					<td>Đáp án</td>
					<td>Kết quả</td>
			</tr>
				</th>
			{%for i in range(0, length)%}
			<tr>
				<td>{{answersArray[i]}}</td>
				<td>{{charArray[i]}}</td>
				<td>{{compareArray[i]}}</td>
			  
			{%endfor%}
			  
			</tr>
			  
			</table>
			
			<td> Đúng {{count}} câu </td>
			
        </table>
    </div>  
	<div class="container-xl mt-2" style="background-color: whitesmoke;">
        <table class="table d-flex justify-content-center pt-2">
				<tr>
                    <th scope="col">Các câu không khoanh hoặc khoanh nhiều đáp án nghi sửa đổi</th>
                </tr>
			<table style="margin-left: 20px;">
				<th>
					<tr style="color: green; ">    
					<td>STT</td>
			</tr>
				</th>
			{%for i in range(0, lengthError)%}
			<tr>
				<td>{{error[i]}}</td>
			{%endfor%}
			  
			</tr>
			  
			</table>
			
			<td> Tất cả nghi {{lengthError}} câu </td>
			
        </table>
    </div>   	

<form action="/bridge" method="post" id="form1"> 
            <button class="btn btn-info mt-2" type="submit" name="check" value="back">Về trang chủ</button>
          </form>	
</body>